In [51]:
from nltk.stem.snowball import SnowballStemmer
import pandas as pd

In [52]:
p = ['university', 'universal', 'alumni', 'alumnus', 'flies', 'dies','died','mules','humbled']   #list

In [53]:
s = [SnowballStemmer("english").stem(i) for i in p]      #stemmed list

In [54]:
s     #printing list

['univers',
 'univers',
 'alumni',
 'alumnus',
 'fli',
 'die',
 'die',
 'mule',
 'humbl']

In [55]:
t = ' '.join(s)    #putting all the stemmed words in a single string

In [56]:
t    #printing the string

'univers univers alumni alumnus fli die die mule humbl'

In [57]:
# using dataframe

In [58]:
dict = {'words' : ['university', 'universal', 'alumni', 'alumnus', 'flies', 'dies','died','mules','humbled']}

In [59]:
data = pd.DataFrame(dict)

In [60]:
data

        words
0  university
1   universal
2      alumni
3     alumnus
4       flies
5        dies
6        died
7       mules
8     humbled

In [61]:
x = [SnowballStemmer("english").stem(i) for i in data["words"].values]

In [62]:
x

['univers',
 'univers',
 'alumni',
 'alumnus',
 'fli',
 'die',
 'die',
 'mule',
 'humbl']