In [47]:
import pandas as pd
import numpy as np
import string

In [48]:
#Reading the data file into a DataFrame and checking the shape
data = pd.read_csv('/home/komal/Downloads/AmazonMobileDataUncleaned.csv', encoding = "ISO-8859-1")
print(data.shape)

(72311, 5)

In [49]:
print(data.columns)

Index(['uncleanedreview', 'decision', 'Unnamed: 2', 'Unnamed: 3',
       'Unnamed: 4'],
      dtype='object')

In [50]:
data.drop(['Unnamed: 2','Unnamed: 3', 'Unnamed: 4'], axis=1,inplace=True)
print(data.shape)

(72311, 2)

In [51]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [52]:
# Function to remove punctuations and digits from the text
def removepunctuation(text):
    p = set(string.punctuation) #p take all the punctuations displayed above
    text = text.lower()    #convert text to lower case
    words = text.split()   #split the text into a list of words
    c_words_list = []
    for i in range(10): #adding numbers from 0-9 to p
        p.add(str(i))
    for i in words:
        t = ''.join([x for x in i.encode("ascii","ignore").decode("ascii")if x not in p])
        # (string).encode("ascii","ignore").decode("ascii") means : first encode the string i Ascii char in bytes and ignore the non - Ascii char 
        # then decode the ascii characters. Note here each string i is a word eg. mobile so it has characters 'm' ,'o', 'b', 'i', 'l', 'e'.
        c_words_list.append(t)
        # eg. ctext = ['this','mobile','is','good']
    cleaned_text = " ".join([i for i in c_words_list])    #joining the cleaned words to sentence 
    return cleaned_text   #returns a string
    # eg. cleaned_text = 'this mobile is good'

In [53]:
uncleaned = [i  for i in data.uncleanedreview]     #list of uncleaned reviews 
cleaned = []    #list of cleaned reviews

for i in uncleaned:
    try: 
        creview = removepunctuation(i)   #calling function removepuctuation() that returnn a string
        if len(creview) == 0: raise()
        cleaned.append(creview)
    except: 
        cleaned.append("NAN")     
    #list of cleaned reviews is ready

In [54]:
data['cleanedreview'] = cleaned    #attaching the cleaned reviews as a new column to the dataset
print(data.shape)

(72311, 3)

In [55]:
data

,uncleanedreview,decision,cleanedreview
0,I had the Samsung A600 for awhile which is abs...,positive,i had the samsung a for awhile which is absolu...
1,Due to a software issue between Nokia and Spri...,positive,due to a software issue between nokia and spri...
2,"This is a great, reliable phone. I also purcha...",positive,this is a great reliable phone i also purchase...
3,"I love the phone and all, because I really did...",positive,i love the phone and all because i really did ...
4,The phone has been great for every purpose it ...,positive,the phone has been great for every purpose it ...
...,...,...,...
72306,b¹=º,NaN,b
72307,"á@j""·£òs",$vþh;ÛµfæKfy÷Dv2<ò&Àâ IãßÛ>Ó¡¥(dÚê÷Öñê...,js
72308,$íò§«áç ¶~ÐBø¢Nú¥<¸g¹ÑG)=#2KGF-AÝcð$Y´,NaN,bnggkgfacy
72309,þÿÛE©íÂX×PEa5lKë,NaN,expealk
72310,?Ô!ä7B´}µë\trÛ!âÓÊ*,Âè¥Ç8Õ£Ãä,b r

In [56]:
#deleting rows that have only special symbols

data.drop(data[data["cleanedreview"]=="NAN"].index, axis = 0, inplace = True)    #deleting rows that have cleanedreview as NAN
print(data.shape)
data.reset_index(drop = True, inplace=True)   #after deleting rows index should be reset
print(data.shape)

(72180, 3)
(72180, 3)

In [57]:
data

,uncleanedreview,decision,cleanedreview
0,I had the Samsung A600 for awhile which is abs...,positive,i had the samsung a for awhile which is absolu...
1,Due to a software issue between Nokia and Spri...,positive,due to a software issue between nokia and spri...
2,"This is a great, reliable phone. I also purcha...",positive,this is a great reliable phone i also purchase...
3,"I love the phone and all, because I really did...",positive,i love the phone and all because i really did ...
4,The phone has been great for every purpose it ...,positive,the phone has been great for every purpose it ...
...,...,...,...
72175,b¹=º,NaN,b
72176,"á@j""·£òs",$vþh;ÛµfæKfy÷Dv2<ò&Àâ IãßÛ>Ó¡¥(dÚê÷Öñê...,js
72177,$íò§«áç ¶~ÐBø¢Nú¥<¸g¹ÑG)=#2KGF-AÝcð$Y´,NaN,bnggkgfacy
72178,þÿÛE©íÂX×PEa5lKë,NaN,expealk
72179,?Ô!ä7B´}µë\trÛ!âÓÊ*,Âè¥Ç8Õ£Ãä,b r

In [58]:
data.to_csv('AmazonMobileDataCleaned.csv', index = None)