In [20]:
from sklearn.preprocessing import Normalizer
import pandas as pd

In [21]:
data = [[-1,2],[-0.5,6],[0,10],[1,18]]

In [22]:
data = pd.DataFrame(data)

In [23]:
data

     0   1
0 -1.0   2
1 -0.5   6
2  0.0  10
3  1.0  18

In [24]:
t = Normalizer().fit(data).transform(data)

In [25]:
t

array([[-0.4472136 ,  0.89442719],
       [-0.08304548,  0.99654576],
       [ 0.        ,  1.        ],
       [ 0.05547002,  0.99846035]])