In [3]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer

In [4]:
dict = {"house size": [1200,1300,1250,1400,1100], "location": ['bombay', 'delhi', 'chennai','bombay', 'delhi']}

In [5]:
data = pd.DataFrame(dict)

In [6]:
data

   house size location
0        1200   bombay
1        1300    delhi
2        1250  chennai
3        1400   bombay
4        1100    delhi

In [7]:
x = CountVectorizer().fit_transform(data['location'].values)

In [8]:
x

<5x3 sparse matrix of type '<class 'numpy.int64'>'
	with 5 stored elements in Compressed Sparse Row format>

In [9]:
x.toarray()

array([[1, 0, 0],
       [0, 0, 1],
       [0, 1, 0],
       [1, 0, 0],
       [0, 0, 1]])

In [10]:
data

   house size location
0        1200   bombay
1        1300    delhi
2        1250  chennai
3        1400   bombay
4        1100    delhi

In [11]:
v = CountVectorizer().fit(data['location'].values)

In [12]:
y = v.get_feature_names_out()

In [13]:
y

array(['bombay', 'chennai', 'delhi'], dtype=object)