In [27]:
import pandas as pd
import re
import string
from nltk.stem.snowball import SnowballStemmer

In [28]:
# Reading the data file into a DataFrame and checking the shape
data = pd.read_csv('AmazonMobileDataCleaned2.csv')
print(data.shape)

(72180, 4)

In [29]:
print(data.columns)

Index(['uncleanedreview', 'decision', 'cleanedreview', 'cleanedreview_2'], dtype='object')

In [30]:
data.drop(['uncleanedreview', 'cleanedreview'], axis=1,inplace=True)
print(data.shape)

(72180, 2)

In [31]:
data

,decision,cleanedreview_2
0,positive,samsung awhile absolute doo doo read review de...
1,positive,due software issue nokia sprint phones text me...
2,positive,great reliable phone also purchased phone sams...
3,positive,love phone really need one didnt expect price ...
4,positive,phone great every purpose offers except day bo...
...,...,...
72175,NaN,b
72176,$vþh;ÛµfæKfy÷Dv2<ò&Àâ IãßÛ>Ó¡¥(dÚê÷Öñê...,js
72177,NaN,bnggkgfacy
72178,NaN,expealk
72179,Âè¥Ç8Õ£Ãä,b r

In [32]:
def contraction_to_expansion(text):
    text = re.sub("didn't", "did not", text)
    text = re.sub("don't", "do not", text)
    text = re.sub("won't", "will not", text)
    text = re.sub("can't", "can not", text)
    text = re.sub("\'ve", " have", text)
    text = re.sub("\'ll", " will", text)
    text = re.sub("\'re", " are", text)
    text = re.sub("\'s", " is", text)
    text = re.sub("\'d", " would", text)
    text = re.sub("\'m", " am", text)
    text = re.sub("\'t", " not", text)

    return text

In [33]:
uncleaned = [i  for i in data.cleanedreview_2]     #list of uncleaned reviews 
cleaned = []    #list of cleaned reviews

for i in uncleaned:
    try: 
        creview = contraction_to_expansion(i)   #calling function removepuctuation() that returnn a string
        if len(creview) == 0: raise()
        cleaned.append(creview)
    except: 
        cleaned.append("NAN")

In [34]:
data['cleanedreview_3'] = cleaned    #attaching the cleaned reviews as a new column to the dataset
print(data.shape)

(72180, 3)

In [35]:
#deleting rows that have only special symbols

data.drop(data[data["cleanedreview_3"]=="NAN"].index, axis = 0, inplace = True)    #deleting rows that have cleanedreview as NAN
print(data.shape)
data.reset_index(drop = True, inplace=True)   #after deleting rows index should be reset
print(data.shape)
data = data.dropna(how='all')
print(data.shape)

(72126, 3)
(72126, 3)
(72126, 3)

In [36]:
data['decision'] = data['decision'].replace('positive',1)
data['decision'] = data['decision'].replace('negative',0)
data = data.dropna(subset=['decision'])
print(data.shape)

(72115, 3)

In [37]:
uncleaned_des = [i  for i in data.decision]     #list of uncleaned reviews 
cleaned_des = []    #list of cleaned reviews

for i in uncleaned_des:
    if type(i) == int: 
        cleaned_des.append(i)
    else:
        cleaned_des.append("NAN")

In [38]:
data['decision_2'] = cleaned_des    #attaching the cleaned decision as a new column to the dataset
print(data.shape)

(72115, 4)

In [39]:
#deleting rows that have only special symbols in decision

data.drop(data[data["decision_2"]=="NAN"].index, axis = 0, inplace = True)    #deleting rows that have cleanedreview as NAN
print(data.shape)
data.reset_index(drop = True, inplace=True)   #after deleting rows index should be reset
print(data.shape)
data = data.dropna(how='all')
print(data.shape)

(71909, 4)
(71909, 4)
(71909, 4)

In [40]:
data

,decision,cleanedreview_2,cleanedreview_3,decision_2
0,1,samsung awhile absolute doo doo read review de...,samsung awhile absolute doo doo read review de...,1
1,1,due software issue nokia sprint phones text me...,due software issue nokia sprint phones text me...,1
2,1,great reliable phone also purchased phone sams...,great reliable phone also purchased phone sams...,1
3,1,love phone really need one didnt expect price ...,love phone really need one didnt expect price ...,1
4,1,phone great every purpose offers except day bo...,phone great every purpose offers except day bo...,1
...,...,...,...,...
71904,1,wish could give positive experience,wish could give positive experience,1
71905,1,loved,loved,1
71906,1,best forever,best forever,1
71907,1,little bit scared purchase given one star revi...,little bit scared purchase given one star revi...,1
71908,1,good phone,good phone,1

In [41]:
data.drop(['cleanedreview_2','decision'], axis=1,inplace=True)
print(data.shape)

(71909, 2)

In [42]:
data

                                         cleanedreview_3 decision_2
0      samsung awhile absolute doo doo read review de...          1
1      due software issue nokia sprint phones text me...          1
2      great reliable phone also purchased phone sams...          1
3      love phone really need one didnt expect price ...          1
4      phone great every purpose offers except day bo...          1
...                                                  ...        ...
71904                wish could give positive experience          1
71905                                              loved          1
71906                                       best forever          1
71907  little bit scared purchase given one star revi...          1
71908                                         good phone          1

[71909 rows x 2 columns]

In [43]:
data.to_csv('AmazonMobileDataCleaned3.csv', index = None)

In [53]:
datafile = pd.read_csv('AmazonMobileDataCleaned3.csv')   #reading the cleaned dataset

label = datafile['decision_2'].values   #  output y is separated in a list called as label
feedback = datafile.drop(['decision_2'], axis = 1)    #input x is separated in form of Dataframe only called as data 
datafile.shape

(71909, 2)

In [54]:
type(label)

numpy.ndarray

In [55]:
type(feedback)

pandas.core.frame.DataFrame

In [47]:
# split data into training, validation, testing data
from sklearn.model_selection import train_test_split   #class to split data

inputtrain, inputtest, outputtrain, outputtest = train_test_split(feedback, label, test_size = 0.2, stratify = label)
inputtrain, inputcv, outputtrain, outputcv = train_test_split(inputtrain, outputtrain, test_size = 0.2, stratify = outputtrain)
# cv = cross- validation

In [48]:
inputtrain.shape

(46021, 1)

In [49]:
outputtrain.shape

(46021,)

In [50]:
inputtrain

                                         cleanedreview_3
2911   got phone girlfriend nothing impressed wanted ...
4324   wow great price deal fisher great phone first ...
43576  concur reviews phone feels premium runs smooth...
28508  edge att version full bloatware buy asia unloc...
62936  love huawei phones love way phone handles char...
...                                                  ...
49357                                             thanks
25946                   phone not unlocked thank nothing
25268                                     worked awesome
24644  phone started acting shutting time battery lif...
69835                                 perfect conditions

[46021 rows x 1 columns]

In [51]:
# convert ...

from sklearn.feature_extraction.text import CountVectorizer  

vec = CountVectorizer(min_df = 10, ngram_range=(1,3))
vec.fit(inputtrain['cleanedreview_3'].values)

#vec.transform(feedback['cleanedreview_3'].values)

inputtrain = vec.transform(inputtrain['cleanedreview_3'].values)  
inputcv = vec.transform(inputcv['cleanedreview_3'].values)
inputtest = vec.transform(inputtest['cleanedreview_3'].values)

In [52]:
inputtest.shape

(14382, 23246)