In [1]:
import pandas as pd
import numpy as np

In [2]:
datafile = pd.read_csv('cardiocleaned.csv')   #reading the cleaned dataset

label = datafile['cardio'].values   #  output y is separated in a list called as label
data = datafile.drop(['cardio'], axis = 1)    #input x is separated in form of Dataframe called as data 
datafile

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
0,18393,male,168,62.0,110,80,chl_avg,glc_avg,0,0,1,0
1,20228,female,156,85.0,140,90,chl_high,glc_avg,0,0,1,1
2,18857,female,165,64.0,130,70,chl_high,glc_avg,0,0,0,1
3,17623,male,169,82.0,150,100,chl_avg,glc_avg,0,0,1,1
4,17474,female,156,56.0,100,60,chl_avg,glc_avg,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
67741,19240,male,168,76.0,120,80,chl_avg,glc_avg,1,0,1,0
67742,22601,female,158,126.0,140,90,chl_aboveavg,glc_aboveavg,0,0,1,1
67743,19066,male,183,105.0,180,90,chl_high,glc_avg,0,1,0,1
67744,22431,female,163,72.0,135,80,chl_avg,glc_aboveavg,0,0,0,1
67745,20540,female,170,72.0,120,80,chl_aboveavg,glc_avg,0,0,1,0

In [3]:
type(label)

numpy.ndarray

In [4]:
type(data)

pandas.core.frame.DataFrame

In [5]:
# split data into training, validation, testing data
from sklearn.model_selection import train_test_split   #class to split data

inputtrain, inputtest, outputtrain, outputtest = train_test_split(data, label, test_size = 0.2, stratify = label)
# inputtrain, inputcv, outputtrain, outputcv = train_test_split(inputtrain, outputtrain, test_size = 0.2, stratify = outputtrain)
# # cv = cross- validation

In [6]:
inputtrain.shape

(54196, 11)

In [7]:
# inputcv.shape

In [8]:
inputtest.shape

(13550, 11)

In [9]:
outputtrain.shape

(54196,)

In [10]:
outputtest.shape

(13550,)

In [11]:
type(inputtrain), type(outputtrain)

(pandas.core.frame.DataFrame, numpy.ndarray)

In [12]:
inputtrain

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
31613,17048,male,170,65.0,120,80,chl_avg,glc_avg,0,0,0
43884,20389,female,165,70.0,120,80,chl_avg,glc_avg,0,0,1
64949,21126,male,167,75.0,140,90,chl_avg,glc_avg,1,0,0
49853,18755,female,162,79.0,140,100,chl_high,glc_high,0,0,1
49128,23408,female,157,82.0,140,80,chl_high,glc_avg,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
2649,19557,male,170,72.0,130,80,chl_avg,glc_avg,0,0,1
52153,19619,female,170,76.0,110,70,chl_avg,glc_avg,0,0,0
58068,23344,female,156,55.0,110,70,chl_avg,glc_avg,0,0,1
18437,21295,male,169,89.0,140,90,chl_high,glc_avg,0,0,1
24325,21044,female,160,63.0,120,80,chl_avg,glc_avg,0,0,0

In [13]:
#scaling age (in days) (Numerical data) using Min-Max Scaler

from sklearn.preprocessing import MinMaxScaler

scale = MinMaxScaler()
scale.fit(inputtrain['age'].values.reshape(-1,1)) 

inputtrain_age = scale.transform(inputtrain[['age']])  
# inputcv_age = scale.transform(inputcv['age'].values.reshape(-1,1))
inputtest_age = scale.transform(inputtest['age'].values.reshape(-1,1))

/home/komal/anaconda3/lib/python3.11/site-packages/sklearn/base.py:432: UserWarning: X has feature names, but MinMaxScaler was fitted without feature names
  warnings.warn(

In [14]:
type(inputtrain_age)

numpy.ndarray

In [15]:
inputtrain_age.shape

(54196, 1)

In [16]:
# inputcv_age.shape

In [17]:
type(outputtrain)

numpy.ndarray

In [18]:
outputtrain.shape

(54196,)

In [19]:
# convert gender (categorical data) into One Hot Encoding

from sklearn.feature_extraction.text import CountVectorizer  

vec = CountVectorizer()
vec.fit(inputtrain['gender'].values)

inputtrain_gender = vec.transform(inputtrain['gender'].values)  
# inputcv_gender = vec.transform(inputcv['gender'].values)
inputtest_gender = vec.transform(inputtest['gender'].values)

In [20]:
inputtrain_gender

<54196x2 sparse matrix of type '<class 'numpy.int64'>'
	with 54196 stored elements in Compressed Sparse Row format>

In [21]:
type(inputtrain_gender)   #reshape(-1,1) convert sparse csr matrix into nparray

scipy.sparse._csr.csr_matrix

In [22]:
type(inputtrain_gender.toarray())

numpy.ndarray

In [23]:
inputtrain_gender.toarray()

array([[0, 1],
       [1, 0],
       [0, 1],
       ...,
       [1, 0],
       [0, 1],
       [1, 0]])

In [24]:
inputtrain_gender.toarray().shape

(54196, 2)

In [25]:
inputtrain_gender.shape

(54196, 2)

In [26]:
#scaling height (in cm) (Numerical data) using Min-Max Scaler

#from sklearn.preprocessing import MinMaxScaler

scale = MinMaxScaler()
scale.fit(inputtrain['height'].values.reshape(-1,1)) 

inputtrain_height = scale.transform(inputtrain['height'].values.reshape(-1,1))  
# inputcv_height = scale.transform(inputcv['height'].values.reshape(-1,1))
inputtest_height = scale.transform(inputtest['height'].values.reshape(-1,1))

In [27]:
type(inputtrain_height)

numpy.ndarray

In [28]:
inputtrain_height.shape

(54196, 1)

In [29]:
inputtrain_height

array([[0.57471264],
       [0.51724138],
       [0.54022989],
       ...,
       [0.4137931 ],
       [0.56321839],
       [0.45977011]])

In [30]:
#scaling weight (in kg) (Numerical data) using Min-Max Scaler

#from sklearn.preprocessing import MinMaxScaler

scale = MinMaxScaler()
scale.fit(inputtrain['weight'].values.reshape(-1,1)) 

inputtrain_weight = scale.transform(inputtrain['weight'].values.reshape(-1,1))  
# inputcv_weight = scale.transform(inputcv['weight'].values.reshape(-1,1))
inputtest_weight = scale.transform(inputtest['weight'].values.reshape(-1,1))

In [31]:
#scaling ap_lo (Numerical data) using Min-Max Scaler

#from sklearn.preprocessing import MinMaxScaler

scale = MinMaxScaler()
scale.fit(inputtrain['ap_lo'].values.reshape(-1,1)) 

inputtrain_ap_lo = scale.transform(inputtrain['ap_lo'].values.reshape(-1,1))  
# inputcv_ap_lo = scale.transform(inputcv['ap_lo'].values.reshape(-1,1))
inputtest_ap_lo = scale.transform(inputtest['ap_lo'].values.reshape(-1,1))

In [32]:
# convert cholesterol (categorical data) into One Hot Encoding

#from sklearn.feature_extraction.text import CountVectorizer  

vec = CountVectorizer()
vec.fit(inputtrain['cholesterol'].values)

inputtrain_cholesterol = vec.transform(inputtrain['cholesterol'].values)  
# inputcv_cholesterol = vec.transform(inputcv['cholesterol'].values)
inputtest_cholesterol = vec.transform(inputtest['cholesterol'].values)

In [33]:
# convert glucose (categorical data) into One Hot Encoding

#from sklearn.feature_extraction.text import CountVectorizer  

vec = CountVectorizer()
vec.fit(inputtrain['gluc'].values)

inputtrain_gluc = vec.transform(inputtrain['gluc'].values)  
# inputcv_gluc = vec.transform(inputcv['gluc'].values)
inputtest_gluc = vec.transform(inputtest['gluc'].values)

In [34]:
# smoke (categorical data) binary only 0/1 (Yes/No) hence no need to convert into One Hot Encoding 

#just converting sparse csr matrix form in np array form

inputtrain_smoke = inputtrain['smoke'].values.reshape(-1,1)
# inputcv_smoke = inputcv['smoke'].values.reshape(-1,1)
inputtest_smoke = inputtest['smoke'].values.reshape(-1,1)

In [35]:
# active, smoke, alcohol (categorical data) binary only 0/1 (Yes/No) hence no need to convert into One Hot Encoding 

#just converting sparse csr matrix form in np array form

inputtrain_active = inputtrain['active'].values.reshape(-1,1)
inputtest_active = inputtest['active'].values.reshape(-1,1)

inputtrain_smoke = inputtrain['smoke'].values.reshape(-1,1)
inputtest_smoke = inputtest['smoke'].values.reshape(-1,1)

inputtrain_alco = inputtrain['alco'].values.reshape(-1,1)
inputtest_alco = inputtest['alco'].values.reshape(-1,1)

In [36]:
inputtrain

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active
31613,17048,male,170,65.0,120,80,chl_avg,glc_avg,0,0,0
43884,20389,female,165,70.0,120,80,chl_avg,glc_avg,0,0,1
64949,21126,male,167,75.0,140,90,chl_avg,glc_avg,1,0,0
49853,18755,female,162,79.0,140,100,chl_high,glc_high,0,0,1
49128,23408,female,157,82.0,140,80,chl_high,glc_avg,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...
2649,19557,male,170,72.0,130,80,chl_avg,glc_avg,0,0,1
52153,19619,female,170,76.0,110,70,chl_avg,glc_avg,0,0,0
58068,23344,female,156,55.0,110,70,chl_avg,glc_avg,0,0,1
18437,21295,male,169,89.0,140,90,chl_high,glc_avg,0,0,1
24325,21044,female,160,63.0,120,80,chl_avg,glc_avg,0,0,0

In [37]:
type(inputtrain_smoke)

numpy.ndarray

In [38]:
inputtrain_smoke.shape

(54196, 1)

In [39]:
type(inputtrain_active)

numpy.ndarray

In [40]:
inputtrain_active.shape

(54196, 1)

In [64]:
# stack arrays horizontally

from scipy.sparse import hstack

input_train = hstack((inputtrain_age, inputtrain_gender, inputtrain_height, inputtrain_weight, inputtrain_cholesterol, inputtrain_gluc, inputtrain_smoke , inputtrain_alco,inputtrain_active))
# cv = hstack((inputcv_age, inputcv_gender, inputcv_height, inputcv_weight, inputcv_cholesterol, inputcv_gluc, inputcv_active))
input_test = hstack((inputtest_age, inputtest_gender, inputtest_height, inputtest_weight, inputtest_cholesterol, inputtest_gluc,inputtest_smoke, inputtest_alco , inputtest_active))

In [65]:
input_train

<54196x14 sparse matrix of type '<class 'numpy.float64'>'
	with 376022 stored elements in COOrdinate format>

In [66]:
input_train = input_train.toarray()
input_test = input_test.toarray()

In [67]:
outputtrain

array([1, 0, 1, ..., 0, 1, 1])

In [68]:
input_train.shape   #input data

(54196, 14)

In [69]:
# cv.shape     #input data

In [70]:
input_test.shape     #input data

(13550, 14)

In [71]:
outputtrain.shape, outputtest.shape

((54196,), (13550, 1))

In [72]:
type(outputtrain), type(outputtest)

(numpy.ndarray, numpy.ndarray)

In [73]:
outputtrain = outputtrain.reshape(-1,1)
outputtest = outputtest.reshape(-1,1)

In [74]:
outputtrain = outputtrain.ravel()

In [75]:
type(outputtrain), type(outputtest)

(numpy.ndarray, numpy.ndarray)

In [76]:
outputtrain.shape, outputtest.shape

((54196,), (13550, 1))

In [77]:
###### Support Vector Machine

In [78]:
import numpy as np
from sklearn import datasets
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score

In [79]:
svm_model = SVC(kernel = 'linear', random_state = 42)

In [ ]:
svm_model.fit(input_train, outputtrain)

In [58]:
# make predictions on the test set.

In [ ]:
y_pred = svm_model.predict(input_test)

In [62]:
#Evaluate the model's performance using various metrics

In [ ]:
accuracy = accuracy_score()